.header {
    background: white !important;
}

.title {
    color: black !important;
    font-weight: bold !important;
}

.close {
    color: black !important;
}

.contents {
    width: 100% !important;
    height: 100% !important;
    background: white !important;
}

.image {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: white !important;
}