.background {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 92vh;
    background-image: url('/album/home-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background::after {
    content: "" !important;
    background: rgba(0, 0, 0, 0.45) !important;
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.textContainer {
    position: absolute !important;
    z-index: 1 !important;
    top: 35%;
    color: white;
}

.daysNum {
    font-weight: bold;
    font-size: 55px;
    padding-right: 10px;
}

.daysText {
    font-weight: bold;
    font-size: 20px;
}

.startDate {
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}

.anniversaryDrawer {
    background-color: white;
    height: 100%;
}

.anniversariesTitle {
    font-weight: bold;
    color: grey;
}
