.background {
    display: flex;
    width: 100%;
    min-height: 90vh;
    background-image: url('/album/home-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background::after {
    content: "" !important;
    background: rgba(0, 0, 0, 0.45) !important;
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.days {
    position: absolute !important;
    color: white;
    z-index: 1 !important;
    top: 43%;
    left: 40%;
}

.daysNum {
    font-weight: bold;
    font-size: 40px;
    padding-right: 5px;
}
