.background {
    display: flex !important;
    width: 100% !important;
    min-height: 100vh !important;
    background: url('/album/home-background.jpg') no-repeat center / cover !important;
}

.background::after {
    content: "" !important;
    background: rgba(0, 0, 0, 0.4) !important;
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.days {
    position: absolute !important;
    color: white;
    z-index: 1 !important;
    top: 43%;
    left: 40%;
}

.daysNum {
    font-weight: bold;
    font-size: 40px;
    padding-right: 5px;
}
